<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head('Edit Blog Post')">
    <meta charset="UTF-8">
</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>
<main class="container">

    <form th:action="@{/posts/{id}/edit(id=${post.id})}" th:method="post">
        Title:
        <input name="title" id="name-ipt" th:value="${post.title}"/>
        <br />
        Body:
        <input name="body" th:value="${post.body}"/>
        <br />
        <input class="btn btn-success" type="submit"/>
    </form>
    <form th:action="@{/posts/{id}/delete(id=${post.id})}" th:method="post"> <!--//also post.getId() from Post class would work-->
        <button class="btn btn-danger">Delete</button>
    </form>
<!--    <a href="/posts/1/delete"></a>//bad-->

</main>

<footer th:replace="partials/footer :: footer"></footer>
<th:block th:include="partials/scripts :: jquery"></th:block>
</body>
</html>