<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="partials/head :: head('individual post')"> <!--passing Dice rollin into the title-->
    <meta charset="UTF-8" />
    <title>show</title>
    <script th:replace="partials/scripts :: jquery"></script>
</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>
<h1>Welcome to the show.html of Blog</h1>

<main>
    <div class="card">
        <h2 th:text="${post.title}"></h2>
        <p th:text="${post.body}"></p>
    </div>
</main>

<footer th:replace="partials/footer :: footer"></footer>
</body>
</html>