<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8">
    <title>Header Fragment</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

    <nav th:fragment="navbar" class="navbar bg-light">
        <span class="navbar-text">This is a great navbar</span>
    </nav>

    <header th:fragment="header">
        <h1>This is a cool header!</h1>
    </header>

    <footer th:fragment="footer">
        &copy; 2020 Let the Good Thymes Roll
    </footer>
</body>
</html>